.imagesWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.8rem;
	margin-top: 2rem;
	width: 100%;
	max-width: 1280px;
}

@keyframes showImage {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.imageWrapper {
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	width: 95vw;
	height: 33vh;
	animation: showImage 0.4s ease-in both;

	@media (min-width: 600px) {
		width: 40vw;
		height: 25vh;
	}
	@media (min-width: 800px) {
		width: 40vw;
		height: 30vh;
	}
	@media (min-width: 1025px) {
		width: 30vw;
		height: 30vh;
	}
	@media (min-width: 1200px) {
		width: 300px;
		height: 260px;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #0b0b0b;
		opacity: 0;
		transition: 0.5s ease all;
	}

	&:hover::after {
		opacity: 0.5;
	}

	&:hover img {
		transform: scale(1.1);
	}

	img {
		transition: 0.5s;
		transform: scale(1);
		object-fit: cover;
		box-shadow: 0px 0px 7.5px 4px rgba(255, 255, 255, 0.04);
	}
}

.pageBreakLine {
	display: flex;
	justify-content: center;
	width: 80%;
	gap: 2rem;
	width: 100%;
	color: #fff;
	font-weight: 700;
	padding: 1rem;

	&::after {
		content: '';
		display: block;
		width: 30%;
		height: 5px;
		background: #3e3e3e;
		border-radius: 10px;
	}
	&::before {
		content: '';
		display: block;
		width: 30%;
		height: 5px;
		background: #3e3e3e;
		border-radius: 10px;
	}
}

.outlineSFW {
	border: solid 2px green;
}
.outlineSKETCHY {
	border: solid 2px yellow;
}
.outlineNSFW {
	border: solid 2px red;
}
