@keyframes showButton {
	from {
		transform: translate(5px, -50%);
	}
	to {
		transform: translate(0px, -50%);
	}
}

.searchQuery {
	display: none;
	align-items: center;
	justify-content: space-around;
	gap: 1.2rem;
	width: 100%;
	max-width: 50rem;
}
.input {
	border: none;
	padding: 1rem;
	min-width: 20rem;
	width: 100%;
	height: 4rem;
	border-radius: 6px;
	outline: none;
	background-color: #4f4f4f;
	font-size: 2rem;
}

.inputWrapper {
	position: relative;
	width: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
}

.clearQueryBtn {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-items: center;
	background-color: transparent;
	height: 2.6rem;
	border: none;

	animation: showButton 0.3s ease-in none;

	filter: drop-shadow(0px 0px 7.6px #000000);

	img {
		width: 100%;
		height: 100%;
	}
}

.searchButton {
	all: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8a8a8a;

	height: 4rem;
	width: 5rem;
	border-radius: 6px;
}

.mobile {
	@media (max-width: 1024px) {
		display: flex;
	}
}

.desktop {
	@media (min-width: 1024px) {
		display: flex;
	}
}
