.tagsWrapper {
	display: flex;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	min-width: 28rem;
	width: 90%;
	padding: 1rem;
	background: #1c1c1c;
	box-shadow: 0px 3px 10.2px 3px #000000;
	border-radius: 4px;

	@media (min-width: '1024px') {
		max-width: 1280px;
	}
}

.tag {
	color: #00ff19;
	font-size: 1.6rem;
	font-weight: bold;
}
