.buttonsWrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.6rem 0.4rem;
	justify-content: space-around;
	padding: 1rem;
	width: 95%;
	max-width: 35rem;

	@media (min-width: 1024px) {
		flex-wrap: nowrap;
		max-width: none;
		justify-content: center;
		gap: 1rem;
		width: auto;
	}
}
