.page {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
	background-color: #212020;
	width: 100%;
	min-height: 100vh;
	padding: 2rem;
	padding-top: 12rem;

	@media (max-width: '1024px') {
		padding-top: 14rem;
	}
}
