.button {
	border: none;
	border-radius: 6px;
	padding: 0.8rem 1.4rem;
	background: #282828;
	box-shadow: 1px 3px 7.3px -3px #000000, inset 0px 0px 8px 0px #000000;
	border-radius: 2px;
	color: #c7c7c7;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 6px;
}
